{
  "openapi": "3.1.0",
  "info": {
    "title": "Breeze API",
    "description": "A comprehensive API for managing yield farming operations, funds, and user authentication",
    "contact": {
      "name": "Breeze Team",
      "email": "support@breeze.com"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.breeze.baby",
      "description": "Production server"
    }
  ],
  "paths": {
    "/admin/assign-fund-to-organization": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "assign_fund_to_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAssignFundToOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund assigned to partner successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/create-fund": {
      "get": {
        "tags": [
          "Admin"
        ],
        "operationId": "process_create_fund",
        "responses": {
          "200": {
            "description": "Fund created successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/create-organization": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "create_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForCreatingParter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Partner created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund-constraints": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund_constraints",
        "responses": {
          "200": {
            "description": "Fund constraints updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund-fees": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund_fees",
        "responses": {
          "200": {
            "description": "Fund fees updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund-rebalance-settings": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund_rebalance_settings",
        "responses": {
          "200": {
            "description": "Fund rebalance settings updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-partner": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForUpdatingPartnerDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Partner updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/deposit/ix": {
      "post": {
        "tags": [
          "Deposits"
        ],
        "operationId": "process_for_deposit_with_instruction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForDeposit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deposit instruction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositInstructionResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "deposit_instruction": [
                        {
                          "program_id": [
                            8,
                            238,
                            71,
                            110,
                            229,
                            69,
                            154,
                            37,
                            85,
                            165,
                            43,
                            241,
                            227,
                            162,
                            137,
                            161,
                            28,
                            193,
                            158,
                            234,
                            60,
                            194,
                            104,
                            226,
                            162,
                            223,
                            66,
                            172,
                            55,
                            253,
                            80,
                            154
                          ],
                          "accounts": [
                            {
                              "pubkey": [
                                252,
                                50,
                                162,
                                95,
                                111,
                                13,
                                145,
                                158,
                                206,
                                169,
                                151,
                                208,
                                197,
                                82,
                                186,
                                204,
                                66,
                                26,
                                103,
                                81,
                                233,
                                91,
                                38,
                                12,
                                162,
                                209,
                                104,
                                67,
                                25,
                                132,
                                175,
                                184
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                116,
                                55,
                                183,
                                180,
                                0,
                                210,
                                115,
                                191,
                                160,
                                17,
                                70,
                                177,
                                67,
                                0,
                                70,
                                38,
                                28,
                                42,
                                250,
                                18,
                                199,
                                61,
                                172,
                                99,
                                179,
                                58,
                                250,
                                153,
                                23,
                                189,
                                107,
                                158
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                254,
                                251,
                                175,
                                205,
                                5,
                                227,
                                11,
                                206,
                                223,
                                83,
                                18,
                                0,
                                23,
                                239,
                                78,
                                179,
                                174,
                                164,
                                4,
                                205,
                                21,
                                148,
                                106,
                                28,
                                44,
                                193,
                                11,
                                20,
                                123,
                                251,
                                160,
                                25
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                74,
                                86,
                                50,
                                101,
                                61,
                                12,
                                138,
                                184,
                                170,
                                98,
                                22,
                                240,
                                175,
                                91,
                                9,
                                124,
                                16,
                                141,
                                61,
                                235,
                                141,
                                213,
                                79,
                                231,
                                95,
                                152,
                                138,
                                137,
                                118,
                                191,
                                123,
                                65
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                251,
                                50,
                                17,
                                95,
                                90,
                                142,
                                190,
                                207,
                                51,
                                44,
                                248,
                                163,
                                252,
                                215,
                                147,
                                124,
                                150,
                                20,
                                148,
                                168,
                                114,
                                16,
                                167,
                                104,
                                136,
                                166,
                                246,
                                45,
                                14,
                                174,
                                213,
                                155
                              ],
                              "is_signer": true,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                230,
                                106,
                                163,
                                90,
                                155,
                                108,
                                232,
                                121,
                                36,
                                133,
                                22,
                                158,
                                71,
                                65,
                                39,
                                36,
                                120,
                                86,
                                76,
                                221,
                                151,
                                241,
                                25,
                                232,
                                214,
                                77,
                                244,
                                172,
                                230,
                                176,
                                81,
                                148
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                6,
                                221,
                                246,
                                225,
                                215,
                                101,
                                161,
                                147,
                                217,
                                203,
                                225,
                                70,
                                206,
                                235,
                                121,
                                172,
                                28,
                                180,
                                133,
                                237,
                                95,
                                91,
                                55,
                                145,
                                58,
                                140,
                                245,
                                133,
                                126,
                                255,
                                0,
                                169
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                27,
                                173,
                                29,
                                250,
                                60,
                                178,
                                248,
                                93,
                                215,
                                246,
                                166,
                                103,
                                169,
                                72,
                                78,
                                104,
                                22,
                                199,
                                199,
                                119,
                                233,
                                52,
                                157,
                                83,
                                60,
                                115,
                                73,
                                220,
                                223,
                                111,
                                223,
                                138
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                29,
                                24,
                                115,
                                123,
                                175,
                                128,
                                85,
                                6,
                                134,
                                40,
                                172,
                                174,
                                147,
                                112,
                                100,
                                176,
                                90,
                                254,
                                132,
                                135,
                                205,
                                171,
                                128,
                                76,
                                114,
                                221,
                                23,
                                206,
                                121,
                                73,
                                153,
                                48
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                57,
                                20,
                                47,
                                104,
                                47,
                                216,
                                56,
                                132,
                                150,
                                236,
                                189,
                                81,
                                6,
                                241,
                                92,
                                121,
                                76,
                                36,
                                119,
                                67,
                                56,
                                40,
                                250,
                                102,
                                66,
                                219,
                                235,
                                247,
                                32,
                                3,
                                74,
                                97
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                92,
                                162,
                                189,
                                250,
                                16,
                                101,
                                68,
                                230,
                                212,
                                254,
                                164,
                                242,
                                51,
                                226,
                                155,
                                51,
                                9,
                                156,
                                252,
                                244,
                                251,
                                119,
                                35,
                                113,
                                200,
                                227,
                                171,
                                168,
                                19,
                                137,
                                107,
                                169
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                84,
                                95,
                                163,
                                14,
                                163,
                                188,
                                63,
                                60,
                                41,
                                102,
                                218,
                                139,
                                108,
                                61,
                                254,
                                248,
                                211,
                                171,
                                125,
                                165,
                                124,
                                160,
                                35,
                                42,
                                84,
                                228,
                                160,
                                38,
                                79,
                                255,
                                195,
                                194
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                74,
                                62,
                                239,
                                75,
                                3,
                                200,
                                42,
                                113,
                                89,
                                158,
                                160,
                                122,
                                22,
                                238,
                                75,
                                207,
                                109,
                                206,
                                49,
                                53,
                                125,
                                132,
                                96,
                                178,
                                172,
                                27,
                                212,
                                195,
                                169,
                                134,
                                12,
                                157
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                126,
                                23,
                                2,
                                201,
                                3,
                                123,
                                162,
                                167,
                                56,
                                29,
                                159,
                                185,
                                206,
                                109,
                                241,
                                93,
                                15,
                                197,
                                77,
                                116,
                                187,
                                115,
                                17,
                                159,
                                138,
                                241,
                                47,
                                25,
                                12,
                                14,
                                21,
                                190
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                230,
                                176,
                                118,
                                69,
                                128,
                                81,
                                64,
                                35,
                                143,
                                110,
                                17,
                                194,
                                223,
                                123,
                                38,
                                9,
                                170,
                                165,
                                234,
                                36,
                                191,
                                190,
                                250,
                                15,
                                112,
                                248,
                                142,
                                50,
                                43,
                                103,
                                31,
                                15
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                5,
                                48,
                                122,
                                214,
                                69,
                                75,
                                188,
                                94,
                                30,
                                78,
                                146,
                                5,
                                146,
                                83,
                                161,
                                139,
                                184,
                                200,
                                134,
                                140,
                                88,
                                166,
                                49,
                                46,
                                200,
                                106,
                                57,
                                230,
                                34,
                                78,
                                55,
                                59
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                9,
                                84,
                                219,
                                190,
                                158,
                                201,
                                96,
                                201,
                                138,
                                122,
                                41,
                                63,
                                226,
                                19,
                                54,
                                150,
                                111,
                                225,
                                128,
                                209,
                                81,
                                174,
                                75,
                                129,
                                121,
                                86,
                                31,
                                137,
                                133,
                                74,
                                83,
                                246
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                4,
                                178,
                                172,
                                177,
                                18,
                                88,
                                204,
                                227,
                                104,
                                44,
                                65,
                                139,
                                168,
                                114,
                                255,
                                61,
                                249,
                                17,
                                2,
                                113,
                                47,
                                21,
                                175,
                                18,
                                182,
                                190,
                                105,
                                179,
                                67,
                                91,
                                0,
                                8
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                231,
                                87,
                                212,
                                60,
                                1,
                                138,
                                81,
                                205,
                                34,
                                113,
                                131,
                                137,
                                252,
                                83,
                                115,
                                39,
                                203,
                                161,
                                99,
                                225,
                                67,
                                121,
                                124,
                                78,
                                247,
                                31,
                                202,
                                74,
                                122,
                                117,
                                4,
                                227
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                192,
                                133,
                                208,
                                91,
                                55,
                                2,
                                93,
                                49,
                                36,
                                187,
                                83,
                                121,
                                21,
                                167,
                                90,
                                58,
                                171,
                                25,
                                46,
                                94,
                                220,
                                91,
                                251,
                                219,
                                69,
                                202,
                                164,
                                105,
                                119,
                                228,
                                194,
                                13
                              ],
                              "is_signer": false,
                              "is_writable": false
                            },
                            {
                              "pubkey": [
                                35,
                                44,
                                105,
                                3,
                                224,
                                169,
                                4,
                                227,
                                130,
                                108,
                                129,
                                243,
                                126,
                                0,
                                161,
                                193,
                                162,
                                104,
                                40,
                                35,
                                132,
                                92,
                                36,
                                99,
                                231,
                                158,
                                59,
                                118,
                                147,
                                136,
                                95,
                                21
                              ],
                              "is_signer": false,
                              "is_writable": true
                            },
                            {
                              "pubkey": [
                                239,
                                214,
                                25,
                                100,
                                35,
                                5,
                                252,
                                34,
                                90,
                                248,
                                117,
                                120,
                                138,
                                251,
                                6,
                                55,
                                216,
                                25,
                                89,
                                115,
                                218,
                                161,
                                69,
                                120,
                                238,
                                189,
                                198,
                                71,
                                46,
                                80,
                                219,
                                93
                              ],
                              "is_signer": false,
                              "is_writable": true
                            }
                          ],
                          "data": [
                            7,
                            64,
                            66,
                            15,
                            0,
                            0,
                            0,
                            0,
                            0
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/deposit/tx": {
      "post": {
        "tags": [
          "Deposits"
        ],
        "operationId": "process_for_deposit_with_transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForDeposit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deposit transaction prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SerializedTx"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/fund/{fund_id}": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFund"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/apy": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_apy",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund APY retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/f64"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/fees": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_fees",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund fees retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Option"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found or no fees configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/rebalance-history": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_rebalance_history",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit of records to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Offset of records to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund rebalance history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/funds": {
      "get": {
        "tags": [
          "Organization Funds"
        ],
        "operationId": "get_organization_funds",
        "responses": {
          "200": {
            "description": "Organization funds retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationFundsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/api-keys": {
      "get": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "get_organization_api_keys",
        "responses": {
          "200": {
            "description": "Organization API keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "create_organization_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalCreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/api-keys/{api_key_id}": {
      "put": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "update_organization_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalUpdateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "403": {
            "description": "Access denied - API key belongs to different organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "delete_organization_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully"
          },
          "403": {
            "description": "Access denied - API key belongs to different organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/fund-requests": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_organization_request_funds",
        "responses": {
          "200": {
            "description": "Fund requests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundRequestListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/request-fund": {
      "post": {
        "tags": [
          "Funds"
        ],
        "operationId": "request_new_fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputsForRequestingFund"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund requested successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundRequest"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/stats": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get_organization_stats",
        "responses": {
          "200": {
            "description": "Organization stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOrganizationFundStats"
                }
              }
            }
          }
        }
      }
    },
    "/user-balances/{user_id}": {
      "get": {
        "tags": [
          "User Data"
        ],
        "operationId": "get_user_balances",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Fund user identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "description": "Filter by specific asset (token symbol or mint address)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by balance, default 'balance'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order: 'asc' or 'desc', default 'desc'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page, default 10",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBalancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/user-yield/{user_id}": {
      "get": {
        "tags": [
          "User Data"
        ],
        "operationId": "get_user_yield",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Fund user identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fund_id",
            "in": "query",
            "description": "Filter by specific fund",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page, default 10",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User yield data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserYieldResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/withdraw/ix": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "operationId": "process_for_withdraw_with_instruction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForWithdraw"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Withdraw instruction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawInstructionResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "lut_address": "7Xpgp15kooeJmJoy6NP8YXJuXFEqs6aZiy6bwt4KdaxX",
                      "withdraw_instruction": {
                        "program_id": [
                          8,
                          238,
                          71,
                          110,
                          229,
                          69,
                          154,
                          37,
                          85,
                          165,
                          43,
                          241,
                          227,
                          162,
                          137,
                          161,
                          28,
                          193,
                          158,
                          234,
                          60,
                          194,
                          104,
                          226,
                          162,
                          223,
                          66,
                          172,
                          55,
                          253,
                          80,
                          154
                        ],
                        "accounts": [
                          {
                            "pubkey": [
                              252,
                              50,
                              162,
                              95,
                              111,
                              13,
                              145,
                              158,
                              206,
                              169,
                              151,
                              208,
                              197,
                              82,
                              186,
                              204,
                              66,
                              26,
                              103,
                              81,
                              233,
                              91,
                              38,
                              12,
                              162,
                              209,
                              104,
                              67,
                              25,
                              132,
                              175,
                              184
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              116,
                              55,
                              183,
                              180,
                              0,
                              210,
                              115,
                              191,
                              160,
                              17,
                              70,
                              177,
                              67,
                              0,
                              70,
                              38,
                              28,
                              42,
                              250,
                              18,
                              199,
                              61,
                              172,
                              99,
                              179,
                              58,
                              250,
                              153,
                              23,
                              189,
                              107,
                              158
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              124,
                              82,
                              183,
                              148,
                              223,
                              202,
                              208,
                              201,
                              18,
                              23,
                              30,
                              162,
                              1,
                              67,
                              221,
                              227,
                              208,
                              169,
                              185,
                              5,
                              78,
                              131,
                              100,
                              19,
                              47,
                              96,
                              243,
                              216,
                              51,
                              42,
                              239,
                              253
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              74,
                              86,
                              50,
                              101,
                              61,
                              12,
                              138,
                              184,
                              170,
                              98,
                              22,
                              240,
                              175,
                              91,
                              9,
                              124,
                              16,
                              141,
                              61,
                              235,
                              141,
                              213,
                              79,
                              231,
                              95,
                              152,
                              138,
                              137,
                              118,
                              191,
                              123,
                              65
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              251,
                              50,
                              17,
                              95,
                              90,
                              142,
                              190,
                              207,
                              51,
                              44,
                              248,
                              163,
                              252,
                              215,
                              147,
                              124,
                              150,
                              20,
                              148,
                              168,
                              114,
                              16,
                              167,
                              104,
                              136,
                              166,
                              246,
                              45,
                              14,
                              174,
                              213,
                              155
                            ],
                            "is_signer": true,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              254,
                              251,
                              175,
                              205,
                              5,
                              227,
                              11,
                              206,
                              223,
                              83,
                              18,
                              0,
                              23,
                              239,
                              78,
                              179,
                              174,
                              164,
                              4,
                              205,
                              21,
                              148,
                              106,
                              28,
                              44,
                              193,
                              11,
                              20,
                              123,
                              251,
                              160,
                              25
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              198,
                              250,
                              122,
                              243,
                              190,
                              219,
                              173,
                              58,
                              61,
                              101,
                              243,
                              106,
                              171,
                              201,
                              116,
                              49,
                              177,
                              187,
                              228,
                              194,
                              210,
                              246,
                              224,
                              228,
                              124,
                              166,
                              2,
                              3,
                              69,
                              47,
                              93,
                              97
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              230,
                              106,
                              163,
                              90,
                              155,
                              108,
                              232,
                              121,
                              36,
                              133,
                              22,
                              158,
                              71,
                              65,
                              39,
                              36,
                              120,
                              86,
                              76,
                              221,
                              151,
                              241,
                              25,
                              232,
                              214,
                              77,
                              244,
                              172,
                              230,
                              176,
                              81,
                              148
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              27,
                              173,
                              29,
                              250,
                              60,
                              178,
                              248,
                              93,
                              215,
                              246,
                              166,
                              103,
                              169,
                              72,
                              78,
                              104,
                              22,
                              199,
                              199,
                              119,
                              233,
                              52,
                              157,
                              83,
                              60,
                              115,
                              73,
                              220,
                              223,
                              111,
                              223,
                              138
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              29,
                              24,
                              115,
                              123,
                              175,
                              128,
                              85,
                              6,
                              134,
                              40,
                              172,
                              174,
                              147,
                              112,
                              100,
                              176,
                              90,
                              254,
                              132,
                              135,
                              205,
                              171,
                              128,
                              76,
                              114,
                              221,
                              23,
                              206,
                              121,
                              73,
                              153,
                              48
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              57,
                              20,
                              47,
                              104,
                              47,
                              216,
                              56,
                              132,
                              150,
                              236,
                              189,
                              81,
                              6,
                              241,
                              92,
                              121,
                              76,
                              36,
                              119,
                              67,
                              56,
                              40,
                              250,
                              102,
                              66,
                              219,
                              235,
                              247,
                              32,
                              3,
                              74,
                              97
                            ],
                            "is_signer": false,
                            "is_writable": false
                          },
                          {
                            "pubkey": [
                              100,
                              14,
                              163,
                              145,
                              214,
                              3,
                              63,
                              89,
                              181,
                              142,
                              65,
                              172,
                              175,
                              203,
                              59,
                              31,
                              218,
                              175,
                              109,
                              3,
                              141,
                              226,
                              23,
                              227,
                              231,
                              2,
                              10,
                              186,
                              157,
                              224,
                              4,
                              149
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              190,
                              147,
                              154,
                              131,
                              9,
                              245,
                              100,
                              7,
                              24,
                              127,
                              255,
                              48,
                              172,
                              84,
                              177,
                              105,
                              73,
                              139,
                              233,
                              159,
                              109,
                              142,
                              27,
                              253,
                              66,
                              68,
                              104,
                              12,
                              212,
                              247,
                              209,
                              226
                            ],
                            "is_signer": false,
                            "is_writable": false
                          },
                          {
                            "pubkey": [
                              43,
                              72,
                              47,
                              205,
                              63,
                              92,
                              107,
                              135,
                              22,
                              155,
                              87,
                              182,
                              2,
                              27,
                              74,
                              177,
                              216,
                              196,
                              30,
                              149,
                              100,
                              39,
                              237,
                              245,
                              55,
                              167,
                              240,
                              25,
                              37,
                              38,
                              122,
                              93
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              92,
                              162,
                              189,
                              250,
                              16,
                              101,
                              68,
                              230,
                              212,
                              254,
                              164,
                              242,
                              51,
                              226,
                              155,
                              51,
                              9,
                              156,
                              252,
                              244,
                              251,
                              119,
                              35,
                              113,
                              200,
                              227,
                              171,
                              168,
                              19,
                              137,
                              107,
                              169
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              84,
                              95,
                              163,
                              14,
                              163,
                              188,
                              63,
                              60,
                              41,
                              102,
                              218,
                              139,
                              108,
                              61,
                              254,
                              248,
                              211,
                              171,
                              125,
                              165,
                              124,
                              160,
                              35,
                              42,
                              84,
                              228,
                              160,
                              38,
                              79,
                              255,
                              195,
                              194
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              74,
                              62,
                              239,
                              75,
                              3,
                              200,
                              42,
                              113,
                              89,
                              158,
                              160,
                              122,
                              22,
                              238,
                              75,
                              207,
                              109,
                              206,
                              49,
                              53,
                              125,
                              132,
                              96,
                              178,
                              172,
                              27,
                              212,
                              195,
                              169,
                              134,
                              12,
                              157
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              126,
                              23,
                              2,
                              201,
                              3,
                              123,
                              162,
                              167,
                              56,
                              29,
                              159,
                              185,
                              206,
                              109,
                              241,
                              93,
                              15,
                              197,
                              77,
                              116,
                              187,
                              115,
                              17,
                              159,
                              138,
                              241,
                              47,
                              25,
                              12,
                              14,
                              21,
                              190
                            ],
                            "is_signer": false,
                            "is_writable": false
                          },
                          {
                            "pubkey": [
                              230,
                              176,
                              118,
                              69,
                              128,
                              81,
                              64,
                              35,
                              143,
                              110,
                              17,
                              194,
                              223,
                              123,
                              38,
                              9,
                              170,
                              165,
                              234,
                              36,
                              191,
                              190,
                              250,
                              15,
                              112,
                              248,
                              142,
                              50,
                              43,
                              103,
                              31,
                              15
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              131,
                              248,
                              241,
                              242,
                              111,
                              54,
                              220,
                              129,
                              56,
                              165,
                              21,
                              111,
                              96,
                              241,
                              43,
                              47,
                              60,
                              252,
                              234,
                              185,
                              39,
                              113,
                              225,
                              173,
                              132,
                              106,
                              91,
                              14,
                              244,
                              6,
                              166,
                              40
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              4,
                              103,
                              185,
                              134,
                              5,
                              206,
                              217,
                              201,
                              48,
                              45,
                              252,
                              230,
                              181,
                              55,
                              78,
                              207,
                              45,
                              210,
                              53,
                              116,
                              48,
                              216,
                              158,
                              3,
                              224,
                              55,
                              27,
                              10,
                              109,
                              172,
                              218,
                              48
                            ],
                            "is_signer": false,
                            "is_writable": false
                          },
                          {
                            "pubkey": [
                              231,
                              87,
                              212,
                              60,
                              1,
                              138,
                              81,
                              205,
                              34,
                              113,
                              131,
                              137,
                              252,
                              83,
                              115,
                              39,
                              203,
                              161,
                              99,
                              225,
                              67,
                              121,
                              124,
                              78,
                              247,
                              31,
                              202,
                              74,
                              122,
                              117,
                              4,
                              227
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              192,
                              133,
                              208,
                              91,
                              55,
                              2,
                              93,
                              49,
                              36,
                              187,
                              83,
                              121,
                              21,
                              167,
                              90,
                              58,
                              171,
                              25,
                              46,
                              94,
                              220,
                              91,
                              251,
                              219,
                              69,
                              202,
                              164,
                              105,
                              119,
                              228,
                              194,
                              13
                            ],
                            "is_signer": false,
                            "is_writable": false
                          },
                          {
                            "pubkey": [
                              239,
                              214,
                              25,
                              100,
                              35,
                              5,
                              252,
                              34,
                              90,
                              248,
                              117,
                              120,
                              138,
                              251,
                              6,
                              55,
                              216,
                              25,
                              89,
                              115,
                              218,
                              161,
                              69,
                              120,
                              238,
                              189,
                              198,
                              71,
                              46,
                              80,
                              219,
                              93
                            ],
                            "is_signer": false,
                            "is_writable": true
                          },
                          {
                            "pubkey": [
                              35,
                              44,
                              105,
[...]
