{
  "openapi": "3.1.0",
  "info": {
    "title": "Breeze API",
    "description": "A comprehensive API for managing yield farming operations, funds, and user authentication",
    "contact": {
      "name": "Breeze Team",
      "email": "support@breeze.baby"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.breeze.baby",
      "description": "Production server"
    }
  ],
  "paths": {
    "/admin/assign-fund-to-organization": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "assign_fund_to_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAssignFundToOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund assigned to partner successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssignFundOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/create-fund": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "process_create_fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCreateFundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFundApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/delete-strategy-template": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "delete_strategy_template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputForDeletingStrategy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Strategy deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDeleteStrategyOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/get-job-status": {
      "get": {
        "tags": [
          "Admin"
        ],
        "operationId": "get_job_status",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "Task ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/org-fund-access": {
      "get": {
        "tags": [
          "Admin"
        ],
        "operationId": "get_org_fund_access",
        "responses": {
          "200": {
            "description": "Organization fund access records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/unassign-fund-to-organization": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "unassign_fund_to_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUnAssignFundFromOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund assigned to partner successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssignFundOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiFundUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund constraints updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund-fees": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund_fees",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiFundFees"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund fees updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-fund-rebalance-settings": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_fund_rebalance_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiFundRebalanceSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund rebalance settings updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/admin/update-org-tags": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "update_organization_tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateOrganizationTagsInputs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization tags updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/deposit/ix": {
      "post": {
        "tags": [
          "Deposits"
        ],
        "operationId": "process_for_deposit_with_instruction",
        "summary": "Generate deposit instructions",
        "description": "Generates raw Solana instructions for depositing funds into a strategy. Use this endpoint for advanced use cases where you need more control over transaction construction.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForDeposit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deposit instruction prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositInstructionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/deposit/tx": {
      "post": {
        "tags": [
          "Deposits"
        ],
        "operationId": "process_for_deposit_with_transaction",
        "summary": "Generate deposit transaction",
        "description": "Generates a complete, versioned, serialized unsigned Solana transaction for depositing funds into a strategy. The returned base64-encoded transaction can be deserialized, signed by the user's wallet, and submitted to the Solana network.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForDeposit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deposit transaction prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/fund/{fund_id}": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFund"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/apy": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_apy",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund APY retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/f64"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/fees": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_fees",
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "Fund identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund fees retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Option"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found or no fees configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/metrics": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_metrics",
        "parameters": [
          {
            "name": "start_timestamp",
            "in": "query",
            "description": "Start timestamp for metrics range (ISO 8601 format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "description": "End timestamp for metrics range (ISO 8601 format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation_window",
            "in": "query",
            "description": "Optional aggregation window (e.g., '1h', '1d', '5m') - if not provided, database will choose optimal window",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fund_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundMetrics"
                }
              }
            }
          },
          "400": {
            "description": "Invalid time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found or no data available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/fund/{fund_id}/rebalance-history": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_fund_rebalance_history",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit of records to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Offset of records to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "include_failed",
            "in": "query",
            "description": "Include failed rebalance history",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fund_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund rebalance history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/funds": {
      "get": {
        "tags": [
          "Organization Funds"
        ],
        "operationId": "get_organization_funds",
        "responses": {
          "200": {
            "description": "Organization funds retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationFundsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/global-config": {
      "get": {
        "tags": [
          "Global Config"
        ],
        "summary": "Get the global configuration",
        "operationId": "get_global_config",
        "responses": {
          "200": {
            "description": "Global configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Global configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/global-config/supported-assets": {
      "get": {
        "tags": [
          "Global Config"
        ],
        "summary": "Get only the supported base assets from global configuration",
        "operationId": "get_supported_assets",
        "responses": {
          "200": {
            "description": "Supported assets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedAssetsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Global configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/api-keys": {
      "get": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "get_organization_api_keys",
        "responses": {
          "200": {
            "description": "Organization API keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "create_organization_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalCreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/api-keys/{api_key_id}": {
      "put": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "update_organization_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalUpdateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "403": {
            "description": "Access denied - API key belongs to different organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organization API Keys"
        ],
        "operationId": "delete_organization_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully"
          },
          "403": {
            "description": "Access denied - API key belongs to different organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/create-strategy-template": {
      "post": {
        "tags": [
          "Strategies"
        ],
        "operationId": "create_new_strategy_template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputForCreatingStrategy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Strategy created successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreateStrategyTemplateResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/create-strategy/{organization_id}": {
      "post": {
        "tags": [
          "Strategies"
        ],
        "operationId": "create_new_strategy",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputForInitializingStrategy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStrategyApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/fund-requests": {
      "get": {
        "tags": [
          "Funds"
        ],
        "operationId": "get_organization_request_funds",
        "responses": {
          "200": {
            "description": "Fund requests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundRequestListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/fund-resolver": {
      "post": {
        "tags": [
          "Funds"
        ],
        "operationId": "fund_resolver",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputForFundResolver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund requested successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundResolverResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/get-strategy": {
      "post": {
        "tags": [
          "Strategy"
        ],
        "operationId": "get_strategy_template_by_tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputForGetStrategyByTags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Strategy template requests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/request-fund": {
      "post": {
        "tags": [
          "Funds"
        ],
        "operationId": "request_new_fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInputsForRequestingFund"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fund requested successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiFundRequest"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/settings": {
      "put": {
        "tags": [
          "Organization Settings"
        ],
        "operationId": "update_organization_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateOrganizationSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOrganizationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organization Settings"
        ],
        "operationId": "get_organization_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiGetRequestBasedOrgTagsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOrganizationSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/organization/stats": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get_organization_stats",
        "responses": {
          "200": {
            "description": "Organization stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOrganizationFundStats"
                }
              }
            }
          }
        }
      }
    },
    "/organization/{organization_id}/strategies": {
      "get": {
        "tags": [
          "Strategies"
        ],
        "operationId": "get_strategies",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Strategy metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec"
                }
              }
            }
          },
          "400": {
            "description": "Invalid time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fund not found or no data available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/strategy-info/{strategy_id}": {
      "get": {
        "tags": [
          "Strategies"
        ],
        "operationId": "get_strategy_info",
        "summary": "Get strategy information",
        "description": "Retrieves detailed information about a strategy, including the strategy name, list of supported assets, overall APY, and per-asset APY breakdown.",
        "parameters": [
          {
            "name": "strategy_id",
            "in": "path",
            "description": "Strategy identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Strategy information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyInfo"
                }
              }
            }
          },
          "404": {
            "description": "Strategy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/user-balances/{user_id}": {
      "get": {
        "tags": [
          "User Data"
        ],
        "operationId": "get_user_balances",
        "summary": "Get user balances",
        "description": "Retrieves balance information for a user with optional filtering by asset. Returns position values and deposit amounts with pagination support.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Fund user identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "description": "Filter by specific asset (token symbol or mint address)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by balance, default 'balance'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order: 'asc' or 'desc', default 'desc'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page, default 10",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseUserBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/breeze-balances/{user_id}": {
      "get": {
        "tags": [
          "User Data"
        ],
        "operationId": "get_breeze_balances",
        "summary": "Get user balances with strategy information",
        "description": "Retrieves detailed balance information for a user, including strategy details, token information, position values, deposited amounts, yield earned, APY, and last update timestamp.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Fund user identifier (wallet address)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "strategy_id",
            "in": "query",
            "description": "Filter by specific strategy ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "description": "Filter by specific asset (token symbol or mint address)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by balance, default 'balance'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order: 'asc' or 'desc', default 'desc'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page, default 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Breeze balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "fund_id",
                          "token_address",
                          "token_symbol",
                          "token_name",
                          "decimals",
                          "total_position_value",
                          "total_deposited_value",
                          "yield_earned",
                          "apy",
                          "last_updated"
                        ],
                        "properties": {
                          "strategy_name": {
                            "type": "string",
                            "description": "Name of the strategy"
                          },
                          "strategy_id": {
                            "type": "string",
                            "description": "Unique identifier for the strategy"
                          },
                          "fund_id": {
                            "type": "string",
                            "description": "Unique identifier for the fund"
                          },
                          "token_address": {
                            "type": "string",
                            "description": "Token mint address"
                          },
                          "token_symbol": {
                            "type": "string",
                            "description": "Token symbol (e.g., USDC)"
                          },
                          "token_name": {
                            "type": "string",
                            "description": "Full token name"
                          },
                          "decimals": {
                            "type": "integer",
                            "description": "Token decimals"
                          },
                          "total_position_value": {
                            "type": "integer",
                            "description": "Total current position value in token's smallest unit"
                          },
                          "total_deposited_value": {
                            "type": "integer",
                            "description": "Total deposited value in token's smallest unit"
                          },
                          "yield_earned": {
                            "type": "integer",
                            "description": "Yield earned in token's smallest unit"
                          },
                          "apy": {
                            "type": "number",
                            "format": "float",
                            "description": "Annual percentage yield"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of last update"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Pagination metadata",
                      "required": [
                        "page",
                        "per_page",
                        "total",
                        "total_pages",
                        "has_more"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Items per page"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether there are more pages"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/user-yield/{user_id}": {
      "get": {
        "tags": [
          "User Data"
        ],
        "operationId": "get_user_yield",
        "summary": "Get user yield",
        "description": "Retrieves the total yield earned by a user across all their positions. Supports optional currency conversion and filtering by balance or base asset.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Fund user identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fund_id",
            "in": "query",
            "description": "Filter by specific fund",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page, default 10",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User yield data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseUserYield"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/withdraw/ix": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "operationId": "process_for_withdraw_with_instruction",
        "summary": "Generate withdraw instructions",
        "description": "Generates raw Solana instructions for withdrawing funds from a strategy. Use this endpoint for advanced use cases where you need more control over transaction construction.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForWithdraw"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Withdraw instruction prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawInstructionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/withdraw/tx": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "operationId": "process_for_withdraw_with_transaction",
        "summary": "Generate withdraw transaction",
        "description": "Generates a complete, versioned, serialized unsigned Solana transaction for withdrawing funds from a strategy. The returned base64-encoded transaction can be deserialized, signed by the user's wallet, and submitted to the Solana network.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredInputForWithdraw"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Withdraw transaction prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/yield-source/{yield_source_id}": {
      "get": {
        "tags": [
          "Yield Sources"
        ],
        "summary": "Get a specific yield source by its ID with basic stats",
        "operationId": "get_yield_source",
        "parameters": [
          {
            "name": "yield_source_id",
            "in": "path",
            "description": "Yield source identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Yield source retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldSourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Yield source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/yield-sources": {
      "get": {
        "tags": [
          "Yield Sources"
        ],
        "summary": "Get yield sources with optional base asset filter and pagination",
        "operationId": "get_yield_sources",
        "parameters": [
          {
            "name": "base_asset",
            "in": "query",
            "description": "Base asset identifier to filter by (e.g., USDC, SOL, ETH)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Yield sources retrieved successfully grouped by protocol",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiAssignFundOperationResult": {
        "type": "object",
        "required": [
          "message",
          "fund_id",
          "organization_id"
        ],
        "properties": {
          "fund_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          }
        }
      },
      "ApiAssignFundToOrganization": {
        "type": "object",
        "required": [
          "organization_id",
          "organization_fund_id"
        ],
        "properties": {
          "organization_fund_id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          }
        }
      },
      "ApiConstraintType": {
        "type": "string",
        "enum": [
          "MaxPercentage",
          "MaxBaseAssetAmount"
        ]
      },
      "ApiCreateFundRebalanceSettings": {
        "type": "object",
        "properties": {
          "min_position_settle_time": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum position settle time in seconds",
            "minimum": 0
          },
          "min_rebalance_value": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum rebalance value in lamports",
            "minimum": 0
          },
          "rebalance_period": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Rebalance period in seconds",
            "minimum": 0
          },
          "unallocated_threshold": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unallocated threshold in lamports",
            "minimum": 0
          }
        }
      },
      "ApiCreateFundRequest": {
        "type": "object",
        "required": [
          "base_asset_mint",
          "yield_source_ids",
          "risk_aversion_bps",
          "risk_max"
        ],
        "properties": {
          "base_asset_mint": {
            "type": "string",
            "description": "Base asset mint address (e.g., USDC mint)"
          },
          "constraints": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ApiFundConstraint"
            },
            "description": "Optional constraints for yield strategies"
          },
          "fees": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ApiFundFee"
            },
            "description": "Optional fees configuration"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional organization ID to associate with the fund"
          },
          "rebalance_settings": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ApiCreateFundRebalanceSettings",
                "description": "Optional rebalance settings"
              }
            ]
          },
          "risk_aversion_bps": {
            "type": "integer",
            "format": "int64",
            "description": "Risk aversion in basis points (0-10000)",
            "minimum": 0
          },
          "risk_max": {
            "type": "integer",
            "format": "int64",
            "description": "Maximum risk level (0-100)",
            "minimum": 0
          },
          "yield_source_ids": {
            "$ref": "#/components/schemas/ApiYieldSourceIds",
            "description": "Yield source IDs - one per protocol, must match base asset mint"
          }
        }
      },
      "ApiCreateStrategyTemplateResult": {
        "type": "object",
        "required": [
          "message",
          "strategy_name",
          "template_id"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "strategy_name": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          }
        }
      },
      "ApiDeleteStrategyOperationResult": {
        "type": "object",
        "required": [
          "message",
          "strategy_id"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "strategy_id": {
            "type": "string"
          }
        }
      },
      "ApiFund": {
        "type": "object",
        "required": [
          "fund_id",
          "base_asset_token_mint",
          "base_asset_token_decimals",
          "base_asset_token_account",
          "total_deposits",
          "total_users",
          "last_value_tracked_at",
          "total_shares",
          "share_price",
          "current_value",
          "authority",
          "updated_at_timestamp",
          "updated_at_slot",
          "risk_max",
          "risk_aversion_bps",
          "allocated_to_yield",
          "unallocated_amount",
          "bump",
          "token_account_bump",
          "index_number",
          "lookup_table",
          "has_fees",
          "constraints",
          "allocations",
          "protocol_options",
          "last_rebalance_slot"
        ],
        "properties": {
          "allocated_to_yield": {
            "type": "integer",
            "minimum": 0
          },
          "allocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiYieldAllocation"
            }
          },
          "authority": {
            "type": "string"
          },
          "base_asset_token_account": {
            "type": "string"
          },
          "base_asset_token_decimals": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "base_asset_token_mint": {
            "type": "string"
          },
          "bump": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "constraints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFundConstraint"
            }
          },
          "current_value": {
            "type": "integer",
            "minimum": 0
          },
          "fund_id": {
            "type": "string"
          },
          "has_fees": {
            "type": "boolean"
          },
          "index_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "last_rebalance_slot": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "last_value_tracked_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "lookup_table": {
            "type": "string"
          },
          "protocol_options": {
            "$ref": "#/components/schemas/ApiProtocolOptions"
          },
          "risk_aversion_bps": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "risk_max": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "share_price": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "token_account_bump": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "total_deposits": {
            "type": "integer",
            "minimum": 0
          },
          "total_shares": {
            "type": "integer",
            "minimum": 0
          },
          "total_users": {
            "type": "integer",
            "minimum": 0
          },
          "unallocated_amount": {
            "type": "integer",
            "minimum": 0
          },
          "updated_at_slot": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "updated_at_timestamp": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ApiFundConstraint": {
        "type": "object",
        "required": [
          "yield_source_target",
          "constraint_type",
          "value"
        ],
        "properties": {
          "constraint_type": {
            "$ref": "#/components/schemas/ApiConstraintType"
          },
          "value": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "yield_source_target": {
            "$ref": "#/components/schemas/ApiYieldSourceTarget"
          }
        }
      },
      "ApiFundFee": {
        "type": "object",
        "required": [
          "fee_type",
          "fee_bps",
          "recipient"
        ],
        "properties": {
          "fee_bps": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "fee_type": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          }
        }
      },
      "ApiFundFees": {
        "type": "object",
        "required": [
          "fund_id",
          "fees"
        ],
        "properties": {
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFundFee"
            }
          },
          "fund_id": {
            "type": "string"
          }
        }
      },
      "ApiFundMetricDataPoint": {
        "type": "object",
        "required": [
          "time",
          "allocated_to_yield",
          "current_value",
          "current_value_usd",
          "unallocated_amount",
          "unallocated_amount_usd",
          "allocation_count",
          "user_count",
          "total_deposits",
          "current_apy",
          "risk_level",
          "share_price",
          "base_asset_price_usd"
        ],
        "properties": {
          "allocated_to_yield": {
            "type": "integer",
            "minimum": 0
          },
          "allocation_count": {
            "type": "integer",
            "minimum": 0
          },
          "base_asset_price_usd": {
            "type": "number",
            "format": "double"
          },
          "current_apy": {
            "type": "number",
            "format": "double"
          },
          "current_value": {
            "type": "integer",
            "minimum": 0
          },
          "current_value_usd": {
            "type": "number",
            "format": "double"
          },
          "risk_level": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "share_price": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "time": {
            "type": "string"
          },
          "total_deposits": {
            "type": "integer",
            "minimum": 0
          },
          "unallocated_amount": {
            "type": "integer",
            "minimum": 0
          },
          "unallocated_amount_usd": {
            "type": "number",
            "format": "double"
          },
          "user_count": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ApiFundMetrics": {
        "type": "object",
        "required": [
          "start",
          "end",
          "aggregation_window",
          "fund_id",
          "data"
        ],
        "properties": {
          "aggregation_window": {
            "type": "string",
            "description": "Aggregation window (e.g., \"1h\", \"1d\", \"5m\") representing time between data points"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFundMetricDataPoint"
            },
            "description": "Array of aggregated metric data points"
          },
          "end": {
            "type": "string",
            "description": "End timestamp of the data range"
          },
          "fund_id": {
            "type": "string",
            "description": "Fund ID for the metrics"
          },
          "start": {
            "type": "string",
            "description": "Start timestamp of the data range"
          }
        }
      },
      "ApiFundMetricsRequest": {
        "type": "object",
        "required": [
          "start_timestamp",
          "end_timestamp"
        ],
        "properties": {
          "aggregation_window": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional aggregation window (e.g., \"1h\", \"1d\", \"5m\") - if not provided, database will choose optimal window"
          },
          "end_timestamp": {
            "type": "string",
            "description": "End timestamp for metrics range (Unix timestamp)"
          },
          "start_timestamp": {
            "type": "string",
            "description": "Start timestamp for metrics range (Unix timestamp)"
          }
        }
      },
      "ApiFundRebalanceSettings": {
        "type": "object",
        "required": [
          "fund_id"
        ],
        "properties": {
          "fund_id": {
            "type": "string"
          },
          "min_position_settle_time": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "min_rebalance_value": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "rebalance_period": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "unallocated_threshold": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ApiFundRequest": {
        "type": "object",
        "required": [
          "id",
          "organization_id",
          "yield_target",
          "risk_aversion",
          "base_assets",
          "fund_type",
          "status"
        ],
        "properties": {
          "base_assets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fund_type": {
            "$ref": "#/components/schemas/ApiFundType"
          },
          "id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "risk_aversion": {
            "$ref": "#/components/schemas/ApiRiskAversion"
          },
          "status": {
            "$ref": "#/components/schemas/ApiRequestStatus"
          },
          "yield_target": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ApiFundRequestListResponse": {
        "type": "object",
        "required": [
          "requests"
        ],
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFundRequest"
            }
          }
        }
      },
      "ApiFundResolverResponse": {
        "type": "object",
        "required": [
          "fund_id"
        ],
        "properties": {
          "fund_id": {
            "type": "string"
          }
        }
      },
      "ApiFundType": {
        "type": "string",
        "enum": [
          "LendBorrow",
          "LST",
          "Staking",
          "Mixed"
        ]
      },
      "ApiFundUpdateRequest": {
        "type": "object",
        "required": [
          "fund_id",
          "constraints"
        ],
        "properties": {
          "constraints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFundConstraint"
            }
          },
          "fund_id": {
            "type": "string"
          },
          "risk_aversion_bps": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "risk_max": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ApiFundWithBaseAssetMapper": {
        "type": "object",
        "required": [
          "fund_id",
          "base_asset"
        ],
        "properties": {
          "base_asset": {
            "type": "string"
          },
          "fund_id": {
            "type": "string"
          }
        }
      },
      "ApiGetRequestBasedOrgTagsInput": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ApiGlobalConfig": {
        "type": "object",
        "required": [
          "program_admin",
          "initialized",
          "paused",
          "bump",
          "fund_counter",
          "supported_base_assets",
          "updated_at_timestamp",
          "updated_at_slot"
        ],
        "properties": {
          "bump": {
            "type": "integer",
            "format": "int32",
            "description": "Program derived address bump",
            "minimum": 0
          },
          "fund_counter": {
            "type": "integer",
            "format": "int64",
            "description": "Counter for funds created",
            "minimum": 0
          },
          "initialized": {
            "type": "boolean",
            "description": "Whether the program is initialized"
          },
          "paused": {
            "type": "boolean",
            "description": "Whether the program is paused"
          },
          "program_admin": {
            "type": "string",
            "description": "Program admin pubkey"
          },
          "supported_base_assets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of supported base asset mint addresses"
          },
          "updated_at_slot": {
            "type": "integer",
            "format": "int64",
            "description": "Slot when the config was last updated",
            "minimum": 0
          },
          "updated_at_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp when the config was last updated",
            "minimum": 0
          }
        }
      },
      "ApiInputForCreatingStrategy": {
        "type": "object",
        "required": [
          "name",
          "visibility_tags",
          "assets",
          "fees"
        ],
        "properties": {
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTemplateAsset"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTemplateFee"
            }
          },
          "name": {
            "type": "string"
          },
          "visibility_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiInputForDeletingStrategy": {
        "type": "object",
        "required": [
          "strategy_id"
        ],
        "properties": {
          "strategy_id": {
            "type": "string"
          }
        }
      },
      "ApiInputForFundResolver": {
        "type": "object",
        "required": [
          "strategy_id",
          "base_asset"
        ],
        "properties": {
          "base_asset": {
            "type": "string"
          },
          "strategy_id": {
            "type": "string"
          }
        }
      },
      "ApiInputForGetStrategyByTags": {
        "type": "object",
        "required": [
          "tags"
        ],
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiInputForInitializingStrategy": {
        "type": "object",
        "required": [
          "name",
          "template_id",
          "fee_recipient",
          "fee_percentage",
          "frequency_seconds"
        ],
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "fee_percentage": {
            "type": "number",
            "format": "double"
          },
          "fee_recipient": {
            "type": "string"
          },
          "frequency_seconds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "name": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          }
        }
      },
      "ApiInputsForRequestingFund": {
        "type": "object",
        "required": [
          "base_assets",
          "fund_type",
          "yield_target",
          "risk_aversion"
        ],
        "properties": {
          "base_assets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fund_type": {
            "$ref": "#/components/schemas/ApiFundType"
          },
          "risk_aversion": {
            "$ref": "#/components/schemas/ApiRiskAversion"
          },
          "yield_target": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ApiJobStatus": {
        "type": "object",
        "required": [
          "job_id",
          "job_type",
          "payload",
          "state",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "additional_fund_metadata": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ApiFundWithBaseAssetMapper"
            }
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "job_id": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "payload": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": [
          "api_key",
          "organization_id",
          "active",
          "created_at",
          "scopes"
        ],
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether the API key is active"
          },
          "api_key": {
            "type": "string",
            "description": "Unique API key identifier"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp when the API key was created",
            "minimum": 0
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Expiration timestamp (optional)",
            "minimum": 0
          },
          "last_used_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp when the API key was last used",
            "minimum": 0
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name/description for the API key"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization identifier"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissions or scopes for the API key"
          }
        }
      },
      "ApiKeyCreatedResponse": {
        "type": "object",
        "required": [
          "api_key",
          "message"
        ],
        "properties": {
          "api_key": {
            "$ref": "#/components/schemas/ApiKey",
            "description": "The newly created API key data"
          },
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "ApiKeyListResponse": {
        "type": "object",
        "required": [
          "api_keys",
          "total"
        ],
        "properties": {
          "api_keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            },
            "description": "List of API keys for the organization"
          },
          "total": {
            "type": "integer",
            "description": "Total count of API keys",
            "minimum": 0
          }
        }
      },
      "ApiOrganizationFundStats": {
        "type": "object",
        "required": [
          "total_funds",
          "total_deposits",
          "total_users",
          "total_values",
          "total_currencies"
        ],
        "properties": {
          "total_currencies": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "total_deposits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTokenPair"
            }
          },
          "total_funds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "total_users": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "total_values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTokenPair"
            }
          }
        }
      },
      "ApiOrganizationSettings": {
        "type": "object",
        "required": [
          "organization_id",
          "fee_distribution_key",
          "tags"
        ],
        "properties": {
          "fee_distribution_key": {
            "type": "string",
            "description": "Fee distribution key for the organization"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization ID"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for the organization"
          }
        }
      },
      "ApiOrganizationSettingsResponse": {
        "type": "object",
        "required": [
          "settings"
        ],
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/ApiOrganizationSettings",
            "description": "Organization settings"
          }
        }
      },
      "ApiPreRebalanceAllocation": {
        "type": "object",
        "required": [
          "protocol_id",
          "position_id",
          "current_value",
          "yield_source_type",
          "protocol"
        ],
        "properties": {
          "current_value": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "position_id": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "protocol_id": {
            "type": "string"
          },
          "yield_source_type": {
            "type": "string"
          }
        }
      },
      "ApiProtocolOptions": {
        "type": "object",
        "required": [
          "kamino_reserve",
          "marginfi_bank",
          "drift_market"
        ],
        "properties": {
          "drift_market": {
            "type": "string"
          },
          "kamino_reserve": {
            "type": "string"
          },
          "marginfi_bank": {
            "type": "string"
          }
        }
      },
      "ApiRebalanceHistory": {
        "type": "object",
        "required": [
          "audit_id",
          "fund_id",
          "timestamp",
          "rebalance_status",
          "fee_amount",
          "pre_rebalance_current_value",
          "pre_rebalance_unallocated_amount",
          "pre_rebalance_current_risk",
          "pre_rebalance_allocations",
          "target_allocations",
          "rebalance_instructions"
        ],
        "properties": {
          "audit_id": {
[...]
