{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI Breeze",
        "description": "OpenAPI Configuration for Breeze",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://breeze-api.com"
        }
    ],
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "paths": {
        "/getFund/{fund_id}": {
            "get": {
                "description": "This method returns all relevant information of a fund for a given fund_id",
                "parameters": [
                    {
                        "name": "fund_id",
                        "in": "path",
                        "description": "Fund ID of the Fund to get",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getUser/{user_id}": {
            "get": {
                "description": "This method returns all relevant information about a user for given user_id",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID of the User to get",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFundResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getUserFund/{user_id}": {
            "get": {
                "description": "Retrieves all funds informations of a user for a given user_id",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundsArrayResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/fund/{base_asset}": {
            "get": {
                "description": "Retrieves all funds informations associated with a given base_asset",
                "parameters": [
                    {
                        "name": "base_asset",
                        "in": "path",
                        "description": "Base Asset, e. g. USDC, USDT, PYUSD, etc.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundsArrayResponseForBaseAsset"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{user_id}/current_value": {
            "get": {
                "description": "Retrieves all funds informations of a user for a given user_id",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fiat_value",
                        "in": "query",
                        "description": "To convert the value-data to user provided currency",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "EUR"
                    },
                    {
                        "name": "fund_id",
                        "in": "query",
                        "description": "Filter the value-result for a specific fund_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "base_asset",
                        "in": "query",
                        "description": "Filter the value-result for a specific base_asset",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCurrentValueResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{user_id}/stats": {
            "get": {
                "description": "Retrieves funds-stats for the funds for a user_id for a given time-range",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Starting time-range for the stats-calculation, e. g. 2025-04-21T02:20:42.225Z",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Ending time-range for the stats-calculation, e. g. 2025-04-21T02:20:42.225Z",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fiat_value",
                        "in": "query",
                        "description": "To convert the value-data to user provided currency",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "EUR"
                    },
                    {
                        "name": "fund_id",
                        "in": "query",
                        "description": "Filter the stats-result for a specific fund_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "111111111111111111111111111111111"
                    },
                    {
                        "name": "base_asset",
                        "in": "query",
                        "description": "Filter the value-result for a specific base_asset",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "USDC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StatsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "dbError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error From the DB, couldnt process the query"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deposit/ix": {
            "post": {
                "description": "This method will returns all the instruction required to preform the deposit instruction. It takes amount as input to do the deposit, If all is provided as true , then all the amount in token-account will be considered for deposit. User wallet-address and fund_id is also required.",
                "requestBody": {
                    "description": "Deposit instruction parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "amount": {
                                        "type": "integer",
                                        "description": "Amount in Base Asset to deposit"
                                    },
                                    "all": {
                                        "type": "boolean",
                                        "description": "If true, ignore amount and operate on the entire balance"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    },
                                    "payer_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DepositInstructions"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deposit/tx": {
            "post": {
                "description": "This method will returns all the transaction required to preform the deposit instruction. It takes amount as input to do the deposit, If all is provided as true , then all the amount in token-account will be considered for deposit. User wallet-address and fund_id is also required.",
                "requestBody": {
                    "description": "Deposit transaction parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "amount": {
                                        "type": "integer",
                                        "description": "Amount in Base Asset to deposit"
                                    },
                                    "all": {
                                        "type": "boolean",
                                        "description": "If true, ignore amount and operate on the entire balance"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    },
                                    "payer_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SerializedTransactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/withdraw/ix": {
            "post": {
                "description": "This method will returns all the instruction required to preform the withdraw instruction. It takes shares as input to do the withdraw, If all is provided as true , then all the shares will be considered for withdraw. User wallet-address and fund_id is also required.",
                "requestBody": {
                    "description": "Withdraw instruction parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "shares": {
                                        "type": "integer",
                                        "description": "Amount in of shares to withdraw"
                                    },
                                    "all": {
                                        "type": "boolean",
                                        "description": "If true, ignore amount and operate on the entire balance"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    },
                                    "payer_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DepositInstructions"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/withdraw/tx": {
            "post": {
                "description": "This method will returns all the transaction required to preform the withdraw instruction. It takes shares as input to do the withdraw, If all is provided as true , then all the shares will be considered for withdraw. User wallet-address and fund_id is also required.",
                "requestBody": {
                    "description": "Withdraw transaction parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "shares": {
                                        "type": "integer",
                                        "description": "Amount in of shares to withdraw"
                                    },
                                    "all": {
                                        "type": "boolean",
                                        "description": "If true, ignore amount and operate on the entire balance"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    },
                                    "payer_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SerializedTransactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/create_user_fund/tx": {
            "post": {
                "description": "This method will returns all the transaction required to create User Fund account.",
                "requestBody": {
                    "description": "Create User Fund transaction parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SerializedTransactionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/create_user_fund/ix": {
            "post": {
                "description": "This method returns all needed instructions required for creating User Fund account.",
                "requestBody": {
                    "description": "Create User Fund instructions parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fund_id": {
                                        "type": "string",
                                        "description": "ID of the Fund"
                                    },
                                    "user_key": {
                                        "type": "string",
                                        "description": "User Address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SerializedIxsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Invalid Request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing API Key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "missingApiKey": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Missing Credentials - Missing Api key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Fund not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "fundNotFound": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Record not found : FundId doesnt Exists"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "methodNotAllowed": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "text"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "rateLimit": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Not enoughf Api credits for making the request"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "serverError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Internal Server Error"
                                            }
                                        }
                                    },
                                    "ValidationError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Incorrect  query or set of queries required not provided"
                                            }
                                        }
                                    },
                                    "BreezeProgramError": {
                                        "value": {
                                            "error": {
                                                "success": false,
                                                "message": "Error from Breeze Smart Contract"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/create_fund": {
            "get": {
                "description": "This method creates new fund",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateFundApiResponse"
                                }
[...]
